page-picked {

    ion-fab {
        position: fixed;
        bottom: 80px;
        right: 20px;
        z-index: 1000;
     } 

     .delete {
        position: fixed;
        bottom: 80px;
        right: 90px;
        z-index: 1000;
     } 
}
